.footer {
  background-color: #020303;
  color: #fff;
  padding: 0;

  h4 {
    color: #FFC60D;
  }

  h5 {
    color: rgba(255, 198, 13, 0.7);
    padding-top: rem(8px);
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #FDFEFE;
    margin-bottom: rem(35px);
    width: 270px;
    max-width: 100%;
  }

  &__top {
    padding: rem(75px) 0;
  }

  &__bottom {
    border-top: 1px solid rgba(188, 198, 208, 0.4);
    padding: rem(20px) 0;
    font-size: rem(12px);
    line-height: rem(12px);

    a:hover {
      color: $primary;
    }
  }

  @media (#{$max_tablets}) {
    &__bottom {
      padding: 30px 0;
      text-align: center;
    }
  }

  @media (#{$max_phones}) {
    p {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  @media (#{$max_phones--big}) {
    &__top {
      padding-bottom: 50px;
    }

    &__bottom {
      border-top: 0;
    }
  }
}

.footer_list {
  @include list-unstyled;
  font-weight: bold;
  font-size: rem(13px);
  line-height: normal;
  letter-spacing: 0.815455px;

  &__item {
    margin-bottom: rem(16px);
  }
}


.footer_inline_list {
  @include list-unstyled;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.357143px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: rem(10px);
  line-height: rem(12px);
  margin-left: -14px;

  a {
    padding: rem(8px 14px);

    &:hover {
      color: $primary;
    }
  }

  @media (#{$max_tablets}) {
    justify-content: center;
    white-space: nowrap;
    flex-wrap: wrap;

    li {
      margin-bottom: 30px;
    }
  }
}