.btn-link {
  background-color: transparent;
  text-decoration: none !important;
  text-transform: inherit;
  font-weight: inherit;
  padding: 0;
  letter-spacing: inherit;
  font-size: rem(17px);
  color: $primary;

  .icon {
    font-size: 16px;
  }

  .btn-text + .icon {
    margin-left: 5px;
  }

  &:hover {
    color: lighten($primary, 3%);
  }
}

.btn-default,
.btn-icon {
  color: $text;
}

.btn {
  box-shadow: none !important;
  font-family: $font-family-base;
  height: rem(43px);
  padding: rem(15px 22px);
  font-size: rem(10px);
  font-weight: 900;
  line-height: rem(13px);
  border-radius: 6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #030623;
  border: 0;

  &:focus {
    outline: none !important;
  }
}

.btn-primary {
  background-color: $primary;
  color: #030623 !important;
  box-shadow: 4px 6px 16px rgba(129, 108, 0, 0.5);

  &:hover {
    background-color: lighten($primary, 3%);
    box-shadow: 4px 6px 16px rgba(129, 108, 0, 0.5);
  }

  &:active {
    background-color: darken($primary, 3%) !important;
    box-shadow: 4px 6px 16px rgba(129, 108, 0, 0.5) !important;
  }

  &[disabled] {
    background-color: #F3F3F3 !important;
    color: #979797 !important;
  }
}

.form-control {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: $white;
  font-family: $font-family-base;
  height: rem(60px);
  padding: rem(10px 20px);
  font-size: rem(18px);
  line-height: rem(24px);
  border: 2px solid $border-color;
  box-sizing: border-box;
  border-radius: 12px;
  color: #323232;

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $primary;
  }

  @include placeholder {
    color: #7D8499;
  }

  @media (#{$max_phones--big}) {
    font-size: 13px;
    line-height: 1.6;
    padding: 8px 16px;
    height: 40px;
  }
}

.form-control--error {
  @include placeholder {
    color: #EB3B47
  }
}

.form-group {
  @media (#{$max_phones--big}) {
    margin-bottom: 8px;
  }
}

.form_register {
  width: 360px;
  max-width: 100%;
  margin: 0 auto rem(40px);

  .row {
    margin: 0;

    > div {
      margin: 0;
      padding: 0;
    }
  }

  .form-control {
    background-color: transparent;
    border: 0;
    font-size: inherit;
    font-weight: $font-weight-medium;
    line-height: normal;
    padding: rem(12px 20px 14px);
    height: rem(48px);
    color: $text;
    letter-spacing: 0;

    @include placeholder() {
      color: rgba($text, .5);
    }
  }

  textarea.form-control {
    height: 120px;
    resize: none;
  }

  .btn {
    padding: rem(12px 20px 14px);
    height: rem(48px);
    border: 0;
    line-height: normal;
    font-size: inherit;
    font-weight: $font-weight-semi;

    &[disabled] {
      color: rgba($text, .6) !important;
    }
  }

  .form-group {
    border-radius: 8px;
    background-color: rgba(#1F3D59, .7);
  }

  @media (#{$max_phones--big}) {
    margin-bottom: 14px;

    .form-control,
    .btn {
      height: 40px;
      padding: 10px 16px;
    }
  }
}

.control-label {
  font-size: rem(18px);
  line-height: rem(24px);
  color: #979797;

  @media (#{$max_phones--big}) {
    font-size: 13px;
  }
}

.btn-circle {
  border-radius: 100px;
  padding: rem(16px);
  line-height: normal;
  width: rem(54px);
  height: rem(54px);
  display: none;

  @media (#{$max_phones--big}) {
    width: rem(40px);
    height: rem(40px);
    padding: rem(8px);
  }
}

.btn-sm {
  padding-top: rem(10px);
  padding-bottom: rem(10px);
  font-size: rem(10px);
  height: auto;
  background: linear-gradient(0deg, #FFC60D, #FFC60D), #EBB023 !important;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2) !important;
  border-radius: 6px;
  letter-spacing: 0.03em;

  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25) !important;
  }

  &:active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1) !important;
  }
}