.navbar {
  padding-top: rem(18px);
  padding-bottom: rem(18px);
  background-color: $background;
  position: fixed;
  z-index: 91;
  top: 0;
  left: 0;
  width: 100%;

  .btn-primary {
    box-shadow: none;
  }

  @media (#{$max_tablets}) {
    padding: 22px 30px;
  }

  @media (#{$max_phones}) {
    padding-left: 20px;
    padding-right: 20px;

    .container {
      max-width: 100%;
    }
  }
}

.navbar-brand {
  padding: 0;

  img {
    width: rem(140px);
    vertical-align: top;
  }
}

.navbar-toggler {
  width: 24px;
  height: 24px;
  padding: 7px;
  position: absolute;
  top: 8px;
  right: 9px;
  z-index: 101;
  display: inline-block;
  vertical-align: middle;
  box-sizing: content-box;
  margin-right: 0;
  border: 0;
  outline: none !important;
  transition: none;

  i {
    display: block;
    position: absolute;
    width: 22px;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    border-radius: 4px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    transition-duration: .275s;
    background-color: $white;

    &:first-child {
      top: 14px;
    }

    &:last-child {
      top: 24px;
      transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
    }
  }

  &:not(.collapsed) i {
    background-color: $white !important;
    width: 20px;
    opacity: 0;
    transform: scale(0);

    &:first-child  {
      opacity: 1;
      transition-delay: 75ms;
      transform: translate3d(0,5px,0) rotate(45deg);
    }

    &:last-child {
      opacity: 1;
      transition-delay: 75ms;
      transform: translate3d(0,-5px,0) rotate(-45deg);
    }
  }

  @media (#{$max_tablets}) {
    margin: -11px -15px 0 0;

    &:not(.collapsed) {
      position: fixed;
      margin: 11px 15px 0 0;
    }
  }

  @media (#{$max_phones}) {
    &:not(.collapsed) {
      margin-right: 6px;
    }
  }
}

.nav-item {
  font-size: rem(12px);
  line-height: rem(15px);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;

  @media (max-width: 991px) {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    transform: translate3d(0, 15px, 0);

    .show &,
    .collapsing & {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);

      &:nth-child(1) {
        transition-delay: .1s;
      }
      &:nth-child(2) {
        transition-delay: .15s;
      }
      &:nth-child(3) {
        transition-delay: .2s;
      }
      &:nth-child(4) {
        transition-delay: .25s;
      }
      &:nth-child(5) {
        transition-delay: .3s;
      }
      &:nth-child(6) {
        transition-delay: .35s;
      }
      &:nth-child(7) {
        transition-delay: .40s;
      }
    }
  }
}

.nav-item-action {
  .nav-link {
    color: $primary  !important;

    &:hover {
      color: $secondary !important;
    }
  }
}

.navbar-dark {
  .navbar-nav {
    padding-right: 0;
    margin-right: -20px;

    .nav-link {
      color: $white;
      transition: all .3s ease;

      &:hover, &.active, .active & {
        color: $primary;
      }

      &.active, .active & {
      }
    }
  }

  .navbar-text {
    color: $white;
  }
}

.nav-divider {
  height: rem(36px);
  border-left: 1px solid $border-color;
}

.navbar-text {
  position: fixed;
  padding: rem(0 30px);
  top: 0;
  left: 0;
  right: 0;
  height: rem(79px);
  font-size: rem(20px);
  font-weight: 500;
  color: $white;
  opacity: 1;
  text-align: left;
  text-transform: uppercase;
  background-color: #09080A;

  @media (#{$max_tablets}) {
    padding: 22px 30px;
  }

  @media (#{$max_phones}) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-collapse {
  @media all and (max-width: 992px) {
    position: fixed;
    padding: 0;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #09080A;
    overflow: auto;
    height: 100% !important;
    opacity: 0;
    display: block !important;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease !important;

    .nav-inner {
      padding: rem(79px 30px 20px);
    }

    .nav-divider {
      height: 1px;
      width: 100%;
      border-bottom: 1px solid rgba(#BCC6D0, .4);
      margin: rem(30px) 0;
    }

    .navbar-nav {
      padding: rem(30px 0);
    }

    .nav-item {
      font-size: 16px;
      padding: 1.25vh 0;
    }

    .btn-primary {
      margin: 20px 0;
    }

    .nav-link {
      padding: 20px 0;
    }

    &.show, &.collapsing {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (#{$max_phones}) {
    text-align: center;

    .nav-inner {
      height: 100%;
      min-height: 580px;
      position: relative;
    }

    .navbar-nav {
      padding: 0;
    }

    .nav-item {
      padding: 10px 0;
    }

    .nav-link {
      padding: 10px 0;
    }
  }
}

.nav-inner {
  @media all and (min-width: 992px) {
    flex-grow: 1;
    align-items: center;
    display: flex !important;
    flex-basis: auto;
  }
}