@font-face {
  font-family: 'icons';
  src:  url('./../fonts/icons.eot?2rc230');
  src:  url('./../fonts/icons.eot?2rc230#iefix') format('embedded-opentype'),
  url('./../fonts/icons.ttf?2rc230') format('truetype'),
  url('./../fonts/icons.woff?2rc230') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change ./../fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon--rating:before {
  content: "\e900";
}
.icon--facebook:before {
  content: "\e901";
}
.icon--medium:before {
  content: "\e902";
}
.icon--telegram:before {
  content: "\e903";
}
.icon--twitter:before {
  content: "\e904";
}
.icon--caret-down:before {
  content: "\f0d7";
}
.icon--angle-right:before {
  content: "\f105";
}
.icon--lang:before {
  content: "\e906";
}
