html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: rem(18px);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  font-family: $font-family-base;
  color: $text;
  background-color: #F5F7F9;

  @include fontantialias(true);

  @media (#{$max_phones--big}) {
    &.menu-opened {
      overflow: hidden;
    }
  }
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: $font-family-base;
  color: inherit;
}

h1, .h1 {
  font-size: rem(40px);
  line-height: 130%;
  margin-bottom: rem(46px);
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }

  @media (#{$max_tablets}) {
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0;
    margin-bottom: 46px;
  }

  @media (#{$max_phones}) {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 40px;
  }
}

h2, .h2 {
  font-size: rem(34px);
  line-height: rem(43px);
  margin-bottom: rem(20px);
  font-weight: bold;
  letter-spacing: -0.5px;

  @media (#{$max_phones}) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

h3, .h3 {
  font-size: rem(32px);
  line-height: rem(30px);
  font-weight: $font-weight-semi;
  margin-bottom: rem(32px);
}

h4, .h4 {
  font-weight: 900;
  font-size: rem(16px);
  line-height: rem(20px);
  margin-bottom: rem(24px);
}

h5, .h5 {
  font-weight: bold;
  font-size: rem(10px);
  line-height: rem(12px);
  text-transform: uppercase;
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
  }
}

p, .p {
  margin-bottom: rem(25px);
  color: inherit;

  a {
    font-weight: 500;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.container {
  max-width: 1240px;
  position: relative;

  @media (#{$max_tablets}) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (#{$max_phones}) {
    max-width: 340px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-primary {
  color: #c601a4 !important;
}

.text-grey {
  color: #7D8499 !important;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.hint {
  font-size: rem(17px);
  margin-bottom: rem(20px);

  @media (#{$max_phones--big}) {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}

.row-small {
  margin-left: -10px;
  margin-right: -10px;

  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.lead {
  font-size: rem(34px);
  font-weight: bold;
  color: inherit;
  letter-spacing: 0;
  line-height: 140%;
  max-width: 610px;
  margin-bottom: rem(60px);

  @media (#{$max_phones}) {
    font-size: 22px;
  }
}

address {
  @extend p;
  margin-bottom: rem(24px) !important;
}

.scrollmagic-pin-spacer {
  display: block !important;

  @media (#{$max_phones--big}) {
    height: auto !important;
    min-height: 0 !important;
    display: none!important;
  }
}

.main {
  overflow: hidden;
}

.pull-right {
  float: right;
}
