.section {
  padding: rem(120px 0);
  position: relative;

  .btn-primary {
    min-width: rem(144px);
  }

  @media (#{$max_tablets}) {
    padding: 90px 0;
  }

  @media (#{$max_phones}) {
    padding: 70px 0;
  }
}

.section_inverse {
  color: $white;
  background-color: $background;
}

.section_lead {
  padding-top: rem(130px);
  height: 720px;

  p {
    margin-bottom: rem(50px);
    font-weight: 300;
  }

  .section_bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: auto;
    bottom: rem(20px);
    z-index: 0;
    background-position: left bottom;
    background-size: cover;
  }

  .container, .row {
    height: 100%;
  }

  @media (#{$min_tablets}) {
    height: 798px;
  }

  @media (#{$max_tablets}) {
    padding-top: 192px;

    .section_bg {
      top: -90px;
    }
  }

  @media (#{$max_phones--big}) {
    height: auto;

    .section_bg {
      left: 60%;
    }
  }

  @media (#{$max_phones}) {
    height: auto;
    padding-top: 135px;

    .section_bg {
      bottom: auto;
      height: 330px;
      top: 60px;
      left: 67%;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 165%;
      max-width: 200px;
      margin-bottom: 48px;
    }
  }
}

.section_intro {
  padding: rem(90px 0 55px);

  .lead {
    margin-bottom: rem(45px);
  }

  &__item {
    margin-bottom: rem(45px);
  }

  &__value {
    font-weight: 300;
    font-family: $font-family-alt;
    font-size: rem(42px);
    line-height: rem(49px);
    margin-bottom: rem(10px);

    span {
      font-size: rem(22px);
      line-height: normal;
    }
  }

  &__title {
    font-size: rem(14px);
    line-height: rem(18px);
    color: #F5F5F5;
  }

  @media (#{$max_tablets}) {
    padding-top: 50px;
    padding-bottom: 50px;

    .lead {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 65px;
    }

    &__item {
      width: 200px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (#{$max_phones}) {
    padding-top: 0;

    &__item {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 15px;
    }
  }
}

.section_header {
  margin-bottom: rem(95px);

  @media (#{$max_phones}) {
    margin-bottom: 80px;
  }
}

.pricing_list {
  @media (#{$min_tablets}) {
    margin-bottom: rem(50px);
  }

  @media (#{$max_tablets}) {
    max-width: 100%;
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section_pricing {
  @media (#{$max_tablets}) {
    padding-bottom: 55px;
  }
}

.pricing_card {
  background: $white;
  box-shadow: 0px 35px 45px rgba(10, 31, 68, 0.1);
  border-radius: rem(8px);
  width: 260px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: rem(80px 20px 40px 20px);
  margin-bottom: 88px;
  color: $text;
  text-align: center;
  position: relative;

  &__label {
    font-weight: bold;
    font-size: rem(16px);
    line-height: rem(20px);
    text-align: center;
    width: rem(150px);
    position: absolute;
    top: rem(20px);
    left: rem(-18px);
    border-radius: 4px 4px 4px 0;
    padding: rem(8px 12px 9px);

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 18px solid transparent;
    }

    &--gold {
      background: linear-gradient(234.07deg, #FFC60D -10.83%, rgba(255, 198, 13, 0) 120.71%);

      &:before {
        border-right-color: #EED07B;
      }
    }

    &--diamond {
      background: linear-gradient(232.99deg, #DAF8FF 23.81%, rgba(185, 242, 255, 0) 108.01%);

      &:before {
        border-right-color: #B8F2FF;
      }
    }

    &--platinum {
      background: linear-gradient(232.03deg, #E5E4E2 0.99%, rgba(229, 228, 226, 0) 126.05%);

      &:before {
        border-right-color: #E5E2DC;
      }
    }

    &--custom {
      background: linear-gradient(241.13deg, #FFDBB9 13.79%, rgba(255, 219, 185, 0) 103.32%);

      &:before {
        border-right-color: #E7BE98;
      }
    }
  }

  &__value {
    font-style: normal;
    font-weight: bold;
    font-size: rem(38px);
    line-height: 1.4;
    margin-bottom: rem(18px);

    ._sign {
      font-size: rem(24px);
      line-height: normal;
    }
  }

  &__power,
  &__period {
    font-size: rem(14px);
    line-height: 1.4;

    b {
      font-size: rem(20px);
    }
  }

  &__power {
    margin-bottom: rem(27px);
  }

  &__period {
    margin-bottom: rem(33px);
  }

  &__progress {
    margin-bottom: rem(37px);
  }

  @media (#{$min_tablets}) {
    margin-bottom: 0;
    height: 100%;
    min-height: 370px;
  }

  @media (#{$max_phones}) {
    margin-bottom: 60px;
  }
}

.btn_scroll_top {
  position: fixed;
  bottom: rem(20px);
  right: rem(20px);
  z-index: 999;
}

.section_features {
  z-index: 4;
  background: transparent;

  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(281.24deg, #000000 5.68%, #1C1C1C 98.65%);
    transform: skewY(7deg);
  }

  h2 {
    width: 580px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .section_header {
    margin-bottom: rem(85px);

    img {
      margin-bottom: rem(30px);
    }
  }

  @media (#{$max_tablets}) {
    padding: 104px 0 80px;
  }

  @media (#{$max_phones}) {
    padding-top: 98px;
    padding-bottom: 44px;

    &:after {
      transform: skewY(12deg);
    }

    .section_header {
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;

      img {
        margin-bottom: 22px;
      }
    }
  }
}

.section_banner {
  z-index: 4;
  background: transparent;
  padding-bottom: 0;

  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
    left: 0;
    top: 22%;
    width: 100%;
    height: 100%;
    background: #020303;
    transform: skewY(-5deg);
  }

  .section_bg {
    top: rem(80px);
    z-index: 0;
    background-size: contain;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .btn-primary {
    box-shadow: 0 6px 16px rgba(129, 108, 0, 0.5) !important;

    &:hover {
      box-shadow: 0 8px 16px rgba(129, 108, 0, 0.6) !important;
    }

    &:active {
      box-shadow: 0 2px 16px rgba(129, 108, 0, 0.5) !important;
    }
  }

  @media (#{$max_tablets}) {
    .section_image {
      margin-right: -40px;
    }
  }

  @media (#{$max_phones}) {
    padding-top: 0;
    text-align: center;

    .section_image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &:after {
      top: 20px;
    }

    .section_bg {
      top: 20px;
    }
  }
}

.features_list {

}

.features_item {
  text-align: center;
  width: 255px;
  max-width: 100%;
  margin: 0 auto rem(50px);

  &__icon {
    margin-bottom: rem(30px);
    height: rem(34px);
  }

  &__title {
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(25px);
    margin-bottom: rem(14px);
  }

  &__text {
    font-weight: normal;
    font-size: rem(16px);
    line-height: 140%;
    color: #D3D3D3;
    margin-bottom: rem(20px);
  }

  &__action {
    a {
      padding: 10px;
    }
  }

  @media (#{$max_tablets}) {
    &__title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 17px;
    }

    &__text {
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 20px;
    }
  }

  @media (#{$max_phones}) {
    margin-bottom: 40px;

    &__title {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 14px;
    }

    &__text {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 20px;
    }
  }
}

.action_link {
  font-style: normal;
  font-weight: 900;
  font-size: rem(10px);
  line-height: rem(13px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;

  .icon {
    font-size: rem(15px);
    line-height: rem(13px);
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
    top: rem(-2px);
    margin: 0 rem(4px);
    transition: transform $transition;
  }

  &:hover {
    .icon {
      transform: translate3d(2px, 0, 0);
    }
  }

  &--yellow {
    color: $primary;
  }
}

.section_about {
  .section_image {
    position: relative;

    &--1 {
      margin-top: -32px;
    }

    &--2 {
      position: absolute;
      bottom: -56px !important;
      left: -47px !important;
      top: auto !important;
    }
  }

  @media (max-width: 1100px) {
    .section_image {
      &--1 {
        margin-left: -100px;
      }
    }
  }

  @media (#{$max_tablets}) {
    padding-top: 84px;
    padding-bottom: 84px;

    .section_header {
      margin-bottom: 50px;
    }

    .section_image {
      margin-bottom: 30px;
      &--1,
      &--2 {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media (#{$max_phones}) {
    padding-bottom: 20px;

    .section_image {
      margin-bottom: 0;

      &--1 {
        width: 110%;
        margin-top: -18px;
      }

      &--2 {
        width: 190px;
        bottom: -29px !important;
        left: -3px !important;
      }
    }
  }
}

.about_list {
  @media (#{$max_tablets}) {
    margin-bottom: 6px;
  }
}

.about_item {
  padding: rem(12px 47px 12px 16px);
  transition: all $transition;
  cursor: default;
  margin-bottom: rem(5px);
  max-width: 447px;

  &:hover {
    background: $white;
    box-shadow: 0px 35px 45px rgba(10, 31, 68, 0.1);
    border-radius: 8px;
  }

  &__title {
    font-size: rem(16px);
    line-height: rem(20px);
    color: #000000;
    font-weight: bold;
    margin-bottom: rem(12px);
    letter-spacing: 0;
  }

  &__text {
    font-size: rem(14px);
    line-height: 140%;
    color: #757575;
  }

  &__icon {
    float: left;
    width: rem(35px);
  }
  
  &__content {
    overflow: hidden;
  }

  @media (#{$max_tablets}) {
    padding-right: 15px;
  }

  @media (#{$max_phones}) {
    padding: 10px 10px 20px 20px;
    margin-bottom: 30px;

    &__icon {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.section_datacenter {
  height: 800px;
  text-align: center;
  background-color: transparent;

  .container, .row {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .action_link {
    padding: rem(10px);
  }

  @media (#{$max_tablets}) {
    height: 100vh;
  }
}

.section_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section_partners {
  padding: rem(160px) 0 rem(60px);

  @media (#{$max_tablets}) {
    padding-top: 120px;
    padding-bottom: 40px;
  }

  @media (#{$max_phones}) {
    padding-top: 60px;
    padding-bottom: 40px;

    .section_header {
      margin-bottom: 55px;
    }
  }
}

.partners_list {
  &__item {
    display: inline-block;
    margin-bottom: rem(50px);

    img {
      max-width: 100%;
      will-change: transform;
      transition: transform $transition;
    }

    &:hover img {
      transform: scale(1.05);
    }

    @media (#{$max_phones}) {
      margin-bottom: 30px;
    }
  }
}

.progress_bar {
  position: relative;
  background-color: #E8E8E8;
  border-radius: 4px;
  height: rem(2px);
  width: 100%;
  margin-top: rem(16px);

  &__hint {
    position: absolute;
    bottom: 100%;
    right: 0;
    font-weight: bold;
    font-size: rem(10px);
    line-height: rem(13px);
    color: #555555;
    margin-bottom: rem(8px);
  }

  &__inner {
    background-color: #181818;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: rem(-1px);
    height: rem(4px);
  }
}

.range {
  position: relative;
  padding-top: rem(9px);

  input {
    width: 100%;
  }

  &__hint {
    position: absolute;
    top: rem(2px);
    right: 0;
    font-weight: bold;
    font-size: rem(10px);
    line-height: rem(13px);
    color: #555555;
  }

  &__value {
    font-weight: bold;
    font-size: rem(20px);
    line-height: rem(20px);
    color: #1B1F2A;
    position: absolute;
    left: 0;
    top: rem(-8px);
  }
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.scene--fill {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.accordion {
  .btn {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: auto;
    border-radius: 0;
    width: 100%;
    line-height: inherit;
    text-align: left;
    pointer-events: none;
    padding: 0;
  }

  @media (#{$min_phones--big}) {
    .collapse {
      display: block !important;
      height: auto !important;
    }
  }

  @media (#{$max_phones--big}) {
    border-bottom: 1px solid rgba(188, 198, 208, 0.4);

    h5 {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1px;
      color: #FFC60D;
      padding: 0;
      margin: 0;
    }

    .btn {
      padding: 30px 0;
      pointer-events: all;
      position: relative;

      &:after {
        font-family: 'icons';
        content: "\f105";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -10px;
        transform: rotate(90deg);
        color: rgba(255, 198, 13, 0.4);
        font-size: 30px;
        font-weight: normal;
        transition: transform .3s ease;
      }

      &[aria-expanded=true] {
        &:after {
          transform: rotate(0);
        }
      }
    }

    .footer_list {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
  }
}