.dropdown {
  .btn {
    padding: rem(10px 10px 10px 25px);
    color: #fff;
    font-size: rem(20px);
    position: relative;
    font-weight: 600;
    letter-spacing: normal;

    span, .icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .dropdown-toggle::after {
    right: auto;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    font-size: 16px;
  }

  .dropdown-menu {
    background-color: #09080A;
    border-radius: 0;
    color: #fff;
    margin-top: 10px;
    box-shadow: none;
    border: 0;
  }

  .dropdown-item {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0;
    padding: rem(12px 20px);

    &.active, &:hover {
      color: $primary;
      background-color: transparent !important;
    }
  }

  @media (#{$max_tablets}) {
    .dropdown-menu {
      margin-top: 0;
      text-align: inherit;
    }

    .btn {
      font-size: 16px;
    }

    .dropdown-item  {
      line-height: normal;
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}