.social_list {
  margin-bottom: rem(25px);
  cursor: default;
  font-size: 0;

  &__item {
    padding: rem(13px 8px);
    text-decoration: none !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    width: rem(40px);
    height: rem(40px);
    border-radius: 100px;
    color: #FFC60D;
    text-align: center;
    box-shadow: inset 0 0 0 1px rgba(#FFC60D, .3);
    transition: box-shadow $transition !important;
    font-size: rem(14px);
    margin-right: rem(10px);

    &:hover {
      color: $primary;
      box-shadow: inset 0 0 0 1px rgba(#FFC60D, 1);
    }

    .icon {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (#{$max_phones}) {

  }
}