<section class="section section_about section_gray" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-4">
        <div class="section_header">
          <h2 class="text-center">Maximize your mining revenue</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-6">
        <div class="section_image scene">
          <img data-depth="0.1" src="./images/interface-image.png" alt="" class="section_image--1" width="590px">
          <img data-depth="0.2" src="./images/interface-image-2.png" alt="" class="section_image--2" width="360px">
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="about_list">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
              <div class="about_list__item about_item">
                <div class="about_item__icon">
                  <img src="./images/icons/icon-mining.svg" alt="icon" width="13px">
                </div>
                <div class="about_item__content">
                  <div class="about_item__title">Up to 30 000 $</div>
                  <div class="about_item__text">Sell in LA, New York, and Portland at once. Activate your product in multiple locations to test new markets or build awareness.</div>
                </div>
              </div>
              <div class="about_list__item about_item">
                <div class="about_item__icon">
                  <img src="./images/icons/icon-backup.svg" alt="icon" width="20px">
                </div>
                <div class="about_item__content">
                  <div class="about_item__title">Interest-free period up to 48 days</div>
                  <div class="about_item__text">Our seller dashboard provides real time sales data, product feedback and inventory management.</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12">
              <div class="about_list__item about_item">
                <div class="about_item__icon">
                  <img src="./images/icons/icon-payment.svg" alt="icon" width="22px">
                </div>
                <div class="about_item__content">
                  <div class="about_item__title">Monthly payment up to 8%</div>
                  <div class="about_item__text">Our platform enables us to sell your product in our stores in 5 days or less. Don't waste months pitching retailers.</div>
                </div>
              </div>
              <div class="about_list__item about_item">
                <div class="about_item__icon">
                  <img src="./images/icons/icon-refill.svg" alt="icon" width="24px">
                </div>
                <div class="about_item__content">
                  <div class="about_item__title">Free Refill</div>
                  <div class="about_item__text">Read interviews with some of the teams using Wake and see how they have improved the way they work together.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>