<section class="section section_banner section_inverse" id="banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-5 col-lg-7">
        <div class="section_image pull-right">
          <img src="./images/interface-image-3.png" alt="interface" width="666px">
        </div>
      </div>
      <div class="col-sm-7 col-lg-5">
        <h2 class="h1">Ready to start mining? Get&nbsp;started today</h2>
        <a href="" class="btn btn-primary">Create Account</a>
      </div>
    </div>
  </div>
  <div class="section_bg" data-depth="0.2" style="background-image: url(./images/get-started-bg.png)"></div>
</section>