<section class="section section_datacenter section_inverse" id="datacenter">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-8 col-md-7 col-lg-5">
        <h2>Visit our data centers</h2>
        <p>Learn about our mining operation by scheduling a visit to one of our facilities. </p>

        <a href="" class="action_link">
          learn more
          <i class="icon icon--angle-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="section_bg" data-src="./images/data-centers-bg.png" data-pos-x="center" data-parallax></div>
  <!--<div class="section_bg" style="background-image: url(./images/data-centers-bg.png)"></div>-->
</section>