<section class="section section_features section_inverse" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="section_header text-center">
          <img src="./images/icons/icon-crown.svg" alt="icon" width="48px">
          <h2>The most trusted and profitable mining platform</h2>
        </div>

        <div class="features_list">
          <div class="row justify-content-between">
            <div class="col-md-4">
              <div class="features_item">
                <div class="features_item__icon">
                  <img src="./images/icons/icon-mining.svg" alt="icon" width="16px">
                </div>
                <div class="features_item__title">Begin mining today</div>
                <div class="features_item__text">Mining hardware is already installed in our data centers</div>
                <div class="features_item__action">
                  <a href="" class="action_link action_link--yellow">
                    Our Datacenters
                    <i class="icon icon--angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="features_item">
                <div class="features_item__icon">
                  <img src="./images/icons/icon-backup.svg" alt="icon" width="28px">
                </div>
                <div class="features_item__title">Backup computing power</div>
                <div class="features_item__text">Additional mining power available to ensure 100% uptime</div>
                <div class="features_item__action">
                  <a href="" class="action_link action_link--yellow">
                    Customer Service
                    <i class="icon icon--angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="features_item">
                <div class="features_item__icon">
                  <img src="./images/icons/icon-pool.svg" alt="icon" width="26px">
                </div>
                <div class="features_item__title">Mining pool integration</div>
                <div class="features_item__text">Full integration with F2Pool to view mining accounts</div>
                <div class="features_item__action">
                  <a href="" class="action_link action_link--yellow">
                    Our Pricing
                    <i class="icon icon--angle-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>