<section class="section section_lead section_inverse" id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-10 col-sm-7 col-md-6 col-lg-5">
        <h1 class="h2">Mine bitcoin with trusted mining contracts</h1>
        <p class="font-weight-light">Our enterprise-level data centers located in North America allow you to mine Bitcoin from anywhere.</p>
        <a href="/" class="btn btn-primary">Start mining</a>
      </div>
    </div>
  </div>
  <div class="section_bg" style="background-image: url(./images/lead-bg.png)">
  </div>
</section>
<section class="section section_intro section_inverse">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-6 col-xl-7">
        <p class="lead">
          Our extensive background in hardware sales and hosting enable us to provide the best mining service for our customers.
        </p>
      </div>
      <div class="col-12 col-lg-6 col-xl-5">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-6">
            <div class="section_intro__item">
              <div class="section_intro__value">45,000 <span>TH/s</span></div>
              <div class="section_intro__title">Active mining contracts</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-6">
            <div class="section_intro__item">
              <div class="section_intro__value">$10M+</div>
              <div class="section_intro__title">Miner hardware sales</div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-6">
            <div class="section_intro__item">
              <div class="section_intro__value">8400</div>
              <div class="section_intro__title">Current hosted machines</div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-6">
            <div class="section_intro__item">
              <div class="section_intro__value">3+</div>
              <div class="section_intro__title">Years of operation</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>