<section class="section section_partners" id="partners">
  <div class="container">
    <div class="section_header">
      <h2 class="text-center">Partners</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="partners_list">
          <div class="row justify-content-center align-items-center text-center">
            <div class="col-6 col-md-3">
              <a href="" class="partners_list__item">
                <img src="./images/logos/binance-exchange-logo.svg" alt="binance" width="136px">
              </a>
            </div>
            <div class="col-6 col-md-3">
              <a href="" class="partners_list__item">
                <img src="./images/logos/bitfinex-logo.svg" alt="bitfinex" width="136px">
              </a>
            </div>
            <div class="col-6 col-md-3">
              <a href="" class="partners_list__item">
                <img src="./images/logos/bitflyer-logo.svg" alt="bitflyer" width="136px">
              </a>
            </div>
            <div class="col-6 col-md-3">
              <a href="" class="partners_list__item">
                <img src="./images/logos/huobi-logo.svg" alt="huobi" width="136px">
              </a>
            </div>
            <div class="col-6 col-md-3">
              <a href="" class="partners_list__item">
                <img src="./images/logos/kucoin-logo.svg" alt="kucoin" width="96px">
              </a>
            </div>
            <div class="col-6 col-md-3">
              <a href="" class="partners_list__item">
                <img src="./images/logos/okex-logo.svg" alt="okex" width="134px">
              </a>
            </div>
            <div class="col-6 col-md-3">
              <a href="" class="partners_list__item">
                <img src="./images/logos/stellar-logo.svg" alt="stellar" width="134px">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>