<section class="section section_pricing section_gray" id="pricing">
  <div class="container">
    <div class="section_header">
      <h2 class="text-center">Pool information</h2>
    </div>

    <div class="pricing_list">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pricing_card">
            <div class="pricing_card__label pricing_card__label--gold">Gold</div>
            <div class="pricing_card__value"><span class="_sign">$</span>749</div>
            <div class="pricing_card__power"><b>50</b> TH/s</div>
            <div class="pricing_card__period"><b>120</b> Days</div>
            <div class="pricing_card__progress progress_bar">
              <div class="progress_bar__inner" style="width: 60%"></div>
              <div class="progress_bar__hint">Sold: 60%</div>
            </div>
            <div class="pricing_card__action">
              <a href="/" class="btn btn-primary btn-sm">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pricing_card">
            <div class="pricing_card__label pricing_card__label--diamond">Diamond</div>
            <div class="pricing_card__value"><span class="_sign">$</span>1489</div>
            <div class="pricing_card__power"><b>100</b> TH/s</div>
            <div class="pricing_card__period"><b>240</b> Days</div>
            <div class="pricing_card__progress progress_bar">
              <div class="progress_bar__inner" style="width: 45%"></div>
              <div class="progress_bar__hint">Sold: 45%</div>
            </div>
            <div class="pricing_card__action">
              <a href="/" class="btn btn-primary btn-sm">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pricing_card">
            <div class="pricing_card__label pricing_card__label--platinum">Platinum</div>
            <div class="pricing_card__value"><span class="_sign">$</span>5500</div>
            <div class="pricing_card__power"><b>200</b> TH/s</div>
            <div class="pricing_card__period"><b>365</b> Days</div>
            <div class="pricing_card__progress progress_bar">
              <div class="progress_bar__inner" style="width: 89%"></div>
              <div class="progress_bar__hint">Sold: 89%</div>
            </div>
            <div class="pricing_card__action">
              <a href="/" class="btn btn-primary btn-sm">Purchase</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="pricing_card">
            <div class="pricing_card__label pricing_card__label--custom">Custom Plan</div>
            <div class="pricing_card__value">
              <span class="_sign">$</span><span class="_custom_value">0</span>
            </div>
            <div class="pricing_card__power">
              <div class="range range_power">
                <div class="range__hint">TH/s</div>
                <input
                  type="range"
                  class="_range_power range__input"
                  min="0"
                  max="500"
                  step="50"
                  value="0"
                />
                <span class="range__value">0</span>
              </div>
            </div>
            <div class="pricing_card__period">
              <div class="range range_period">
                <div class="range__hint">days</div>
                <input
                  type="range"
                  class="_range_period range__input"
                  min="30"
                  max="365"
                  step="1"
                  value="30"
                />
                <span class="range__value">0</span>
              </div>
            </div>
            <div class="pricing_card__progress progress_bar">
              <div class="progress_bar__inner" style="width: 89%"></div>
              <div class="progress_bar__hint">Sold: 89%</div>
            </div>
            <div class="pricing_card__action">
              <a href="/" class="btn btn-primary btn-sm">
                <i class="icon icon--rating"></i>
                <span>Purchase</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>