<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="row justify-content-between">
            <div class="col-md-4 col-lg-4 col-xl-3">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-12">
                  <h4>Crypto Drilling</h4>
                  <p>Crypto Drilling is the leading distributor for hardware sales and hosting packages.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-12">
                  <div class="social_list text-left text-sm-right text-md-left">
                    <a href="#" class="social_list__item">
                      <i class="icon icon--facebook"></i>
                    </a>
                    <a href="#" class="social_list__item">
                      <i class="icon icon--twitter"></i>
                    </a>
                    <a href="#" class="social_list__item">
                      <i class="icon icon--telegram"></i>
                    </a>
                    <a href="#" class="social_list__item">
                      <i class="icon icon--medium"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-5">
              <div class="row justify-content-between">
                <div class="col-12 col-md-auto">
                  <div class="accordion" id="accordion1">
                    <h5 id="headingOne">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Company
                      </button>
                    </h5>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
                      <ul class="footer_list">
                        <li class="footer_list__item">
                          <a href="#">About</a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">Pricing </a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">Services</a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">Tour</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="accordion" id="accordion2">
                    <h5 id="headingTwo">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Press
                      </button>
                    </h5>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                      <ul class="footer_list">
                        <li class="footer_list__item">
                          <a href="#">History</a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">News</a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">Testimonials</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="accordion" id="accordion3">
                    <h5 id="headingThree">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Get in touch
                      </button>
                    </h5>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
                      <ul class="footer_list">
                        <li class="footer_list__item">
                          <a href="#">Affiliates</a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">Careers</a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">Contact Us</a>
                        </li>
                        <li class="footer_list__item">
                          <a href="#">Support</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="row justify-content-center justify-content-lg-between align-items-center">
            <div class="col-lg-auto">
              <ul class="footer_inline_list">
                <li>
                  <a href="">terms and conditions</a>
                </li>
                <li>
                  <a href="">privacy policy</a>
                </li>
                <li>
                  <a href="">licenses</a>
                </li>
                <li>
                  <a href="">faq</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-auto">
              <div class="copy">Designed by <a href="http://www.bitforest.studio/" target="_blank">bitforest.studio</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
