<head>
  <meta charSet="UTF-8"/>
  <title>CryptoDrilling</Title>

  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>

  <link rel="shortcut icon" href="https://www.flovtec.com/favicon.ico">

  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:image" content="./og_image.jpg"/>
  <meta property="og:title" content="CryptoDrilling"/>
  <meta name="description" content="CryptoDrilling"/>
  <meta property="og:description" content="CryptoDrilling"/>
</head>