<nav class="navbar navbar-expand-lg navbar-dark align-items-center" id="navbar">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="#"><img src="./images/logo.svg" width="140px" alt="CryptoDrilling"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <i></i><i></i>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav-inner">
        <div class="navbar-text d-lg-none">
          <a class="navbar-brand" href="#"><img src="./images/logo.svg" width="140px" alt="CryptoDrilling"></a>
        </div>
        <ul class="navbar-nav ml-lg-auto col-lg-9 justify-content-between align-items-center">
          <li class="nav-item">
            <a data-scroll class="nav-link active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a data-scroll class="nav-link" href="#about">Why Us</a>
          </li>
          <li class="nav-item d-lg-none">
            <div class="lang_dropdown dropdown">
              <button class="btn btn-icon dropdown-toggle" type="button" id="lang_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon icon--lang"></i>
                <span class="dropdown-value d-lg-none">English</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang_dropdown">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Russian</a>
              </div>
            </div>
          </li>
          <li class="nav-divider"></li>
          <li class="nav-item">
            <a class="nav-link" href="#">SIGN IN</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" href="#">Create Account</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <div class="lang_dropdown dropdown">
              <button class="btn btn-icon dropdown-toggle" type="button" id="lang_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon icon--lang"></i>
                <span class="dropdown-value d-lg-none">English</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lang_dropdown">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Russian</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>