<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery.parallax.min.js"></script>
<script src="js/parallax-moving.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="main.js"></script>


