<!doctype html>
<html lang="en">
<%= require('html-loader?attrs=false!./partials/head.html') %>

<body data-spy="scroll" data-target="#navbar" data-offset="100">
<%= require('html-loader?attrs=false!./partials/header.html') %>

<main class="main">
  <%= require('html-loader?attrs=false!./partials/sections/lead.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/pricing.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/features.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/about.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/data-centers.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/partners.html') %>
  <%= require('html-loader?attrs=false!./partials/sections/banner.html') %>
</main>

<%= require('html-loader?attrs=false!./partials/footer.html') %>
<%= require('html-loader?attrs=false!./partials/scripts.html') %>
</body>
</html>

